html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/3KX2K_portfoliobackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

#frankCard {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    margin-top: 350px;
    color: #548da0;
    opacity: 1;
}

#meHolder {
    box-sizing: border-box;
    left: 50%;
    position: relative;
    padding: 0;
    height: 256px;
    width: 256px;
    transform-origin: center center;
    transform: translate(-418%, -50%) rotate(45deg);
    border: 5px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    background: rgb(156, 144, 134);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.04, 0.66, 0.51, 1.35);
    transition-delay: 0s;
}

#mePicture {
    transform-origin: center center;
    transform: rotate(-45deg);
    height: auto;
    width: 350px;
    position: absolute;
    right: -59px;
    bottom: -108px;
    opacity: 1;
}

#frankHeader,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
}

.section-header {
    margin: 1rem 0;
}

#aboutMeHolder {
    font-size: 1.2rem;
}

#frankHeader,
#aboutMeHolder {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 1s;
    opacity: 0;
}

.bg-mountain-sky {
    background-color: #bed5dd;
}

.mountain-sky-text {
    color: #548da0;
}

.bg-brown {
    background-color: #795548;
}

.bg-cloud {
    background-color: #eeeeee;
}

.bg-footer{
    background-color: #397586;
}

h1 {
    font-size: 3.5rem;
}

.card,
img {
    transition: 0.3s ease;
}

.card.hover:hover,
img.hover:hover {
    box-shadow: 5px 5px 6px gray;
}

.sideProjectImg {
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
}

.btn.bg-brown{
    transition-property: box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.btn.bg-brown:hover{
    box-shadow: 3px 3px 6px 0px black;
    transform: scale(1.05);
}

/*
Following card-deck CSS gratefully provided by FrankieDoodie: 
https://codepen.io/FrankieDoodie/pen/OoVXvp?editors=1100
*/

.card-deck {
    justify-content: space-around;
}

.card-deck .card {
    margin: 0 15px 1.5rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
        margin: 0 0 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /*Medium screens*/
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        margin: 0 0 1.5rem;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        margin: 0 0 1.5rem;
    }
}
