html, body{
	width: 100%;
	height: 100%;
}

.flow-text{
	margin: 0;
}

h2{
	margin-top: 0;
}

body{
	background-image: url("../images/3KX2K_portfoliobackground.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#frankCard{
	background: rgba(255, 255, 255, .75);
	height: 45rem;
    width: 100%;
    text-align: center;
    margin-top: 350px;
}

#meHolder{
    box-sizing: border-box;
    left: 50%;
    position: relative;
    padding: 0;
    height: 256px;
    width: 256px;
    transform-origin: center center;
    transform: translate( -50%, -50% ) rotate(45deg);
    border: 5px solid rgba(255, 255, 255, .80);
    overflow: hidden;
}

#mePicture{
	transform-origin: center center;
    transform: rotate(-45deg);
    height: 350px;
    width: 350px;
    position: absolute;
    right: -53px;
    bottom: -55px;
    opacity: 1;
}

#frankHeader{
	font-family: "Ubuntu", sans-serif;
	line-height: 100px;
	color: #548DA0;
	/*color: #2B2C2A;*/
}

#aboutMeHolder{
	
}

#shortAboutMe{
	color: #548DA0;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.mountain-sky{
	background-color: #BED5DD;
	/*padding: 100px 50px;*/
}

.mountain-sky-text{
	color: #548DA0;
}

#footer{
	background-color: #397586;
}